body{
	/* border:1px solid lime; */
	margin:0;
	padding:0;
	background-image:linear-gradient(40deg,LightBlue,#ccf2ff,LightBlue,#ccf2ff,LightBlue,#ccf2ff,LightBlue);
	
}
.header{
	/* border:2px solid red; */
	height:100vh;

	
	
}
.header .nav-holder{
	/* border:2px solid blue; */
	display:flex;
	height:60px;
	width:100%;
	background:white;
}
.header .nav-holder .nav-bar{
	/* border:2px solid blue; */
	height:60px;
	width:50vw;
	margin-left:23%;
	
}
.header .nav-holder .nav-bar .main{
	/* border:2px solid red; */
	list-style:none;
	height:30px;
	display:flex;

}	
.header .nav-holder .nav-bar .main .list{
	/* border:2px solid green; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin-right:10px;
	/* margin:0px 7px; */
	padding:5px 20px;
	color:#1940b3;
	font-weight:900;
	font-style: oblique;
	cursor:pointer;
	transition:0.5s;
}
.header .nav-holder .nav-bar .main .list:hover{
	background-image:linear-gradient(60deg,#ccf2ff,LightBlue,#ccf2ff,LightBlue,#ccf2ff);
	/* box-shadow:1px 1px 2px  blue; */
	
}
.header .nav-holder .nav-bar .main .list a{
	color:#1940b3;
	text-decoration:none;
}





/* Earrings-------> */
.header .nav-holder .nav-bar .main .list .E-list{
	/* border:1px solid blue; */
	position:absolute;
	list-style:none;
	margin-top:12%;	
	background:white;
	color:#1940b3;
	box-shadow:2px 2px 2px white,2px 2px 3px #1940b3;
	z-index:1;
	
	
}
.header .nav-holder .nav-bar .main .list .E-list .sub-list1{
	/* border:1px solid red; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin:8px;
	padding:2px;
	margin-left:-30px;	
}
.header .nav-holder .nav-bar .main .list .E-list .sub-list1:hover{
	/* color:LightBlue; */
	box-shadow:2px 2px 5px #1940b3,2px 2px 5px white;
}
#Earrings{
	display:none;
}
#E-ul:hover #Earrings{
	display:block;
}

/* NECLACE---------------------------> */
.header .nav-holder .nav-bar .main .list .N-list{
	/* border:1px solid blue; */
	position:absolute;
	list-style:none;
	margin-top:12%;	
	background:white;
	color:#1940b3;
	box-shadow:2px 2px 2px white,2px 2px 3px #1940b3;
	z-index:1;
	
}
.header .nav-holder .nav-bar .main .list .N-list .sub-list2{
	/* border:1px solid red; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin:8px;
	padding:2px;
	margin-left:-30px;	
}
.header .nav-holder .nav-bar .main .list .N-list .sub-list2:hover{
	/* color:LightBlue; */
	box-shadow:2px 2px 5px #1940b3,2px 2px 5px white;
}
#necklace{
	display:none;
}

#N-ul:hover #necklace{
	display:block;
}



/*Social media LOGO-------> */
.header .nav-holder .logo{
	/* border:1px solid lime; */
	display:flex;
	width:250px;
	margin-left:7%;
	background:#1940b3;	
}
.header .nav-holder .logo .logo-bar{
	/* border:1px solid red; */
	display:flex;
	width:100%
	/* height:60px; */	
}

.header .nav-holder .logo .logo-bar .fb-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
	/* box-shadow:1px 1px 2px 2px white;	 */
}
.header .nav-holder .logo .logo-bar .fb-logo:hover{
	box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
}
.header .nav-holder .logo .logo-bar .insta-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
	
}
.header .nav-holder .logo .logo-bar .insta-logo:hover{
	box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
}
.header .nav-holder .logo .logo-bar .twitter-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
	/* box-shadow:1px 1px 2px 2px white; */
	
}
.header .nav-holder .logo .logo-bar .twitter-logo:hover{
	box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
	
}
.header .nav-holder .logo .logo-bar .mail-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
}
.header .nav-holder .logo .logo-bar .mail-logo:hover{
	box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
}
.header .nav-holder .logo .logo-bar .search-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
}
.header .nav-holder .logo .logo-bar .search-logo:hover{
    box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
}



/* slide----> */
.header .main-slide{
	/* border:2px solid red; */
	display:flex;
	height:70vh;
	width:50%;
	margin-left:25%;
	margin-top:5%;
	border-radius:10px;	
	overflow:hidden;
}
.header .main-slide .slide-holder{  
	/* border:2px solid blue; */
	display:flex;
	height:100%;
	width:300%;
	border-radius:10px;
}

.header .main-slide .slide-holder .slides{
	/* border:2px solid green; */
	display:inline-block;
	width:100vw;
	border-radius:10px;	
}
.header .main-slide .slide-holder .sld1{
	background: url(../image/gold/e3.jpg) no-repeat center center / 100% 100%;
}
.header .main-slide .slide-holder .sld2{
	background: url(../image/gold/e4.jpg) no-repeat center center / 100% 100%;
}
.header .main-slide .slide-holder .sld3{
	background: url(../image/gold/e1.jpg) no-repeat center center / 100% 100%;
}





/* main-body-----> */
.main-body{
	
	background:white;
	/* border:2px solid green; */
	display:flex;
	height:650px;
	/* padding:20px 0px; */
}

.main-body .box-holder{
	/* border:2px solid blue; */
	display:inline-block;
	width:60%;
	height:100%;	
}
/* .main-body .body-holder .tabs{ 
	border:1px solid orange;
	padding:5px 7px;
}
.main-body .body-holder .tabs:first-child{
	border:1px solid red;
	border-radius:10px 0px 0px 10px;
}

.main-body .body-holder .tabs:last-child{
	border:1px solid red;
	border-radius:0px 10px 10px 0px;
}*/

/*.main-body .body-holder .box{
	border:2px solid red;
	display:flex;
	/* margin-left:0%; 
	width:60%;
	height:100%;
	/* height:100vh; 
}*/



/* ROW1----------------------------->*/
.main-body .box-holder .row1{
	/* border:2px solid blue; */
	display:flex; 
	height:45%;
	width:100%;
	/* /* margin:0px 15px;  */
}
.main-body .box-holder .row1 .rrow1{  
	/* border:1px solid lime; */
	display:inline-block;
	height:100%;
	width:50%;	
}
.main-body .box-holder .row1 .rrow1 .box1{
	/* border:2px solid green; */
	position:relative;
	display:inline-block;
	height:70%;
	width:70%;
	margin-left:15%;
	margin-top:10%;
	transition:all 1s;
	cursor:pointer;
	overflow:hidden;	
}

.main-body .box-holder .row1 .rrow1 .r11{
	background: url(../image/gold/image2.jpg) no-repeat center center /cover;
}

.main-body .box-holder .row1 .rrow1 .r12{
	background: url(../image/gold/image1.jpg) no-repeat center center /cover;
}

.main-body .box-holder .row1 .rrow1 .box1 .price{
	/* border:2px solid red; */
	position:absolute;
	display:flex;
	align-items:center;
	justify-content:center;
	left:-100%;
	height:100%;
	width:100%;
	color:white;
	background:rgba(0,0,0,0.5);
	box-sizing:border-box;
}

.main-body .box-holder .row1 .rrow1 .box1:hover .price{
	left:0%;
	/* transform:rotateY(90deg); */
	transition:all 1s;
}



/* ROW2 ------------------------------>*/
.main-body .box-holder .row2{
	/* border:2px solid red; */
	displaY:flex;
	height:45%;	
}

.main-body .box-holder .row2 .rrow2{
	/* border:1px solid aqua; */
	displaY:flex;
	width:100%;
	position:relative;
}

.main-body .box-holder .row2 .rrow2 .box2{
	/* border:3px solid orange; */
	display:flex;
	position:relative;
	width:70%;
	height:70%;
	margin-left:15%;
	margin-top:10%;
	perspective: 4000px;
	cursor:pointer;
	overflow:hidden;
	/* transform:rotateY(0); */
}
.main-body .box-holder .row2 .rrow2 .box2 .img{
	/* border:2px solid red; */
	/* display:flex; */
	width:100%;
	background: url(../image/gold/image3.jpg) no-repeat center center /cover;
	transform:rotateY(0deg);
	transition:all 0.5s ease-in-out 0s;
}
.main-body .box-holder .row2 .rrow2 .box2:hover .img{
	transform:rotateY(-90deg);	
}
.main-body .box-holder .row2 .rrow2 .box2 .img1{
	/* border:2px solid red; */
	/* display:flex; */
	width:100%;
	background: url(../image/gold/image4.jpg) no-repeat center center /cover;
	transform:rotateY(0deg);
	transition:all 0.5s ease-in-out 0s;
}
.main-body .box-holder .row2 .rrow2 .box2:hover .img1{
	transform:rotateY(-90deg);	
}


.main-body .box-holder .row2 .rrow2 .box2 .price1{
	/* border:2px solid red; */
	display:flex;
	position:absolute;
	align-items:center;
	justify-content:center;
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;	
	background:rgba(0,0,0,0.7);
	color:white;
	font-weight:bold;
	transform:rotateY(90deg);
	transition:all 0.5s ease-in-out 0s;	
}
.main-body .box-holder .row2 .rrow2 .box2:hover .price1{ 
	transform:rotateY(0deg);
	/* transition:1s; */
}	

.main-body .box-holder .more{
	/* border:1px solid red; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin:0px 350px;
	height:5%;
	background:#1940b3; 
	color:white;
	/* background-image:linear-gradient(40deg,LightBlue,#ccf2ff,LightBlue,#ccf2ff,LightBlue,#ccf2ff,LightBlue); */
	cursor:pointer;
}
	
.main-body .box-holder .more:hover{
	text-decoration:underline;
	/* background:#1940b3; */
	/* color:white; */
}

.main-body .box{
	/* border:1px solid pink; */
	display:flex;
	width:20%;
	height:77%;
	margin-left:10%;
	margin-top:3%;
	background:#1940b3;
	color:white;
}
.main-body .box:hover{
	box-shadow:5px 2px 10px white,2px 2px 5px #1940b3,2px 2px 10px white;
} 































































