body{
	border:2px solid aqua;
	margin:0;
	padding:0;
	background:LightBlue;
}
.main{
	border:1px solid red;
	height:50vh;
	width:50vh;
	margin-left:10%;
	margin-top:10%;
	overflow:hidden;
}

.main .image{
	border:1px solid blue;
	position:relative;
	height:70%;
	width:90%;
	margin-top:15%;
	margin-left:5%;
	/* overflow:hidden; */
}

.main .image .img3{
	border:2px solid orange;
	position:absolute;
	height:100%;
	width:100%;	
	background: url(../image/gold/e3.jpg) no-repeat center center / cover;
	transition: 0.3s;
}

.main .image:hover .img3{
	transform:translateY(-45px);
	
}
.main .image .price{
	border:2px solid red;
	position:absolute;
	top:-130%;
	height:100%;
	width:100%;	
	display:flex;
	align-items:center;
	justify-content:center;
	/* margin-top:10%; */
	transition:0.2s;
	
}

.main .image .price .pr{
	border:2px solid black;
	position:absolute;
	
	height:10%;
	width:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:62%;
	
}
.main .image:hover .price{
	top:0%;
	
}