body{
	/* border:1px solid lime; */
	margin:0;
	padding:0;
	background-image:linear-gradient(40deg,LightBlue,#ccf2ff,LightBlue,#ccf2ff,LightBlue,#ccf2ff,LightBlue);
	
}
.header{
	/* border:2px solid red; */
	height:100vh;

	
	
}
.header .nav-holder{
	/* border:2px solid blue; */
	display:flex;
	height:60px;
	width:100%;
	background:white;
}
.header .nav-holder .nav-bar{
	/* border:2px solid blue; */
	height:60px;
	width:50vw;
	margin-left:23%;
	
}
.header .nav-holder .nav-bar .main{
	/* border:2px solid red; */
	list-style:none;
	height:30px;
	display:flex;

}	
.header .nav-holder .nav-bar .main .list{
	/* border:2px solid green; */
	display:flex;
	align-items:center;
	justify-content:center;
	
	margin:0px 7px;
	padding:5px 20px;
	color:#1940b3;
	font-weight:900;
	font-style: oblique;
	cursor:pointer;
	transition:0.5s;
}
.header .nav-holder .nav-bar .main .list:hover{
	background-image:linear-gradient(60deg,#ccf2ff,LightBlue,#ccf2ff,LightBlue,#ccf2ff);
	/* box-shadow:1px 1px 2px  blue; */
	
}
.header .nav-holder .nav-bar .main .list a{
	color:#1940b3;
	text-decoration:none;
}





/* Earrings-------> */
.header .nav-holder .nav-bar .main .list .E-list{
	/* border:1px solid blue; */
	position:absolute;
	list-style:none;
	margin-top:126px;	
	background:white;
	color:#1940b3;
	box-shadow:2px 2px 2px white,2px 2px 3px #1940b3;
	
}
.header .nav-holder .nav-bar .main .list .E-list .sub-list1{
	/* border:1px solid red; */
	display:flex;
	align-items:center;
	justify-content:center;
	margin:6px;
	padding:2px;
	margin-left:-30px;	
}
.header .nav-holder .nav-bar .main .list .E-list .sub-list1:hover{
	/* color:LightBlue; */
	box-shadow:2px 2px 5px #1940b3,2px 2px 5px white;
}
#Earrings{
	display:none;
}
#E-ul:hover #Earrings{
	display:block;
}





/*Social media LOGO-------> */
.header .nav-holder .logo{
	/* border:1px solid lime; */
	display:flex;
	width:250px;
	margin-left:7%;
	background:#1940b3;	
}
.header .nav-holder .logo .logo-bar{
	/* border:1px solid red; */
	display:flex;
	width:100%
	/* height:60px; */	
}

.header .nav-holder .logo .logo-bar .fb-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
	/* box-shadow:1px 1px 2px 2px white;	 */
}
.header .nav-holder .logo .logo-bar .fb-logo:hover{
	box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
}
.header .nav-holder .logo .logo-bar .insta-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
	
}
.header .nav-holder .logo .logo-bar .insta-logo:hover{
	box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
}
.header .nav-holder .logo .logo-bar .twitter-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
	/* box-shadow:1px 1px 2px 2px white; */
	
}
.header .nav-holder .logo .logo-bar .twitter-logo:hover{
	box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
	
}
.header .nav-holder .logo .logo-bar .mail-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
}
.header .nav-holder .logo .logo-bar .mail-logo:hover{
	box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
}
.header .nav-holder .logo .logo-bar .search-logo{
	/* border:1px solid aqua; */
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size:17px;
	cursor:pointer;
}
.header .nav-holder .logo .logo-bar .search-logo:hover{
    box-shadow:2px 2px 10px white,2px 2px 10px #1940b3,2px 2px 3px #1940b3;
}
/* .header .main-slide .slide-holder .slide{ 
	/* border:3px solid aqua; 
	height:100%;
	width:100vw;
	/*margin-top: 60px;
	margin-left:8%;
	border-radius:5px;
	box-shadow:1px 2px 5px  2px blue;	
}*/
